/*
COLORES TRANS-LAB:
tipografía y dividers: #acacae;
botones: #3b4674;
amarillo: #f6a800;
gris oscuro: #3e3f41;
 */
html{
	margin:0;
	padding:0;
}
body{
	background-color: #3e3f41;
}
.logoP{
	padding-top: 49px;
	width: 123px;
}
#head{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 33px;
    color: #f6a800;
    margin-top: 4px;
}
.box-white{
	background-color:#fff;

}
#inicio{
	background-color: #f6a800;
	width: 100%;
	height: 41px;
	color: #acacae;
}
.forgot{
	color: #fff;
	text-decoration: none;
}
.cuenta{
	color:#fff;
}
#registrate{
	color:#f6a800;
}