/*
COLORES TRANS-LAB:
tipografía y dividers: #acacae;
botones: #3b4674;
amarillo: #f6a800;
gris oscuro: #3e3f41;
 */
html{
	margin:0;
	padding:0;
}
body{
	background-color: #3e3f41;
	font-family: 'Roboto', sans-serif;
}
.logoP{
	padding-top: 49px;
	width: 123px;
}
#head{
    font-weight: 700;
    font-size: 33px;
    color: #f6a800;
    margin-top: 4px;
}
.box-white{
	background-color:#fff;

}
#inicio{
	background-color: #f6a800;
	width: 100%;
	height: 41px;
	color: #acacae;
}
.forgot{
	color: #fff;
	text-decoration: none;
}
.cuenta{
	color:#fff;
}
#registrate{
	color:#f6a800;
}
/*Index 2*/
#body2, #body3, #body4, #body5, #body6{
	background-color:#dddee0;
}
nav .nav-wrapper{
	background-color:#3e3f41;
}
.btn{
	background-color: #f6a800;
	color: #acacae;
}
nav .brand-logo.center{
	font-size: 16px;
}

#saldo, #tarifa, #perfil, #faq{
	width: 100%;
	color:#fff;
}
#btns{
    padding-top: 178px;
}
.brand-logo{
	font-size:15px;
}
.color{
	color: #f6a800;
}
.img-user{
	width: 169px;
    padding-top: 20px;
}
.back{
	background-color: #f6a800;
	height: 206px;
}
#mail{
	background-color: #fff;
	margin-top: 22px;
	color: black;
	width: 277px;
}
.text-lowercase{
	text-transform: lowercase;
}
.input-tarjeta{
	width: 293px;
    margin-top: -29px;
}
#agregar-tarjeta{
    color: #fff;
    margin-top: -67px;
    width: 277px;
}
.tarj-{
	background-color: #fff;
    margin-top: -10px;
    color: black;
    width: 277px;
    height: 29px;
}
.back>div>h4{
    color: #fff;
    font-size: 23px;
    padding-top: 58px;
}
#top{
	color: #fff;
    font-size: 23px;
    margin-top: -71px;
    font-weight: 700;
}
.sal-tarj{
	margin-top: 10px;
}
.input-tarjeta2{
	width: 104%;
    margin-top: 13px;
}
#label-card{
    color: #9e9e9e;
    position: absolute;
    font-size: 12px;
    transition: .2s ease-out;
    text-align: initial;
    left: 0.75rem;
    top: 27px;
}
#saldo{
	color:#fff;
}
.saldo{
    background-color: #3e3f41;
    color: #fff;
    margin-top: 11px;
    font-size: x-small;
}
.number{
    background-color: #f6a800;
    color: #fff;
    margin-top: -20px;
}
#calcular{
	color:#fff;
}
.borde{
    padding: 0px 17px;
    margin: 15px -7px;
}

